@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@300;500&family=Ubuntu&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: linear-gradient(to right, #34423f, rgb(12, 70, 45));
}

.main-nav {
  display: flex;
}

.logo {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  font-family: 'Dancing script', cursive;
  justify-content: center;
  align-items: center;
  /* color: rgb(237, 235, 235); */
  color: rgb(199, 247, 231);
}

.logo a {
  color: rgb(199, 247, 231);
  text-decoration: none;
  letter-spacing: 2px;
}

.logo a:hover {
  transition: ease-in;
  color: rgb(175, 204, 198);
}

.n-nav {
  position: absolute;
  display: flex;
  padding: 40px 100px;
  list-style: none;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.n-nav a {
  padding: 0.5em 1em;
  display: block;
  text-decoration: none;
  /* color: black; */
  color: white;
}

.n-nav a:hover {
  color: rgb(175, 204, 198);
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  z-index: 2;
  font-family: 'Poppins', sans-serif;
}

.text {
  position: relative;
  z-index: 10;
}

.text p {
  margin: 10px 0 0 5px;
  padding-bottom: 15px;
  font-size: 1em;
  font-weight: 500;
  max-width: 700;
  color: white;
  line-height: 2em;
  z-index: 10;
}

.text h3 {
  font-size: 4em;
  font-family: 'Dancing script';
  font-weight: 600;
  color: white;
  line-height: 1.5em;
  max-width: 600px;
  font-family: 'Dancing Script', cursive;
}

.text a {
  background-color: rgb(98, 192, 161);
  color: rgb(199, 247, 231);
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 500ms;
  border-radius: 10px;
}

.text a:hover {
  color: rgb(18, 18, 38);
  transform: scale(0.9);
}

.social-bar {
  position: relative;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.social-bar ul {
  position: relative;
}

.social-bar ul li {
  list-style: none;
  margin-bottom: 5px;
  position: fixed;
}

.social-bar ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
}

.about {
  padding: 250px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: grid;
  min-height: 100vh;
  max-width: 400;
  z-index: 5;
  right: 0;
}

/* About Me */
.about h2 {
  font-weight: 600;
  font-size: 2rem;
  font-weight: 400;
  color: white;
  margin: 10px 0 0 5px;
  letter-spacing: 1.5px;
}

.about p {
  margin: 10px 0 0 5px;
  font-size: 1em;
  font-weight: 500;
  color: white;
  line-height: 2em;
  max-width: 900px;
}

.about h2 a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

.about ul {
  margin: 10px 0 0 5px;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: inside;
  color: white;
}

/* Resume */
.resume {
  width: 800px;
  background: #fff;
  margin: 25px auto;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
}

.left {
  background: rgb(18, 18, 38);
  width: 250px;
  padding: 0 20px;
}

.right {
  width: calc(100% - 250px);
}

.left .img_holder {
  text-align: center;
  padding: 20px 0;
}

.left .img_holder img {
  width: 200px;
  border-radius: 30px;
}

.pb {
  padding-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 10px;
  color: #64ffda;
  position: relative;
  text-align: right;
  margin-bottom: 15px;
}

.title:before {
  content: '';
  position: absolute;
  top: 35px;
  right: 0;
  width: 50px;
  height: 3px;
  background: #64ffda;
}

.left .icon {
  font-size: 20px;
  color: #129490;
}

.left .text {
  color: #129490;
  text-transform: uppercase;
  font-size: 13px;
}

.contact .wrap {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.contact .wrap .icon {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-right: 15px;
  justify-content: center;
}

.contact .wrap .text {
  width: calc(100% - 50px);
  word-break: break-word;
  color: #fff;
  text-transform: lowercase;
  font-size: 13px;
}

.contact .wrap .texts {
  width: calc(100% - 50px);
  word-break: break-word;
  color: #fff;
  text-transform: capitalize;
}

.skills ul,
.hobbies ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills .li_wrap,
.hobbies .li_wrap {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills .li_wrap {
  background: #fff;
}

.skills .li_wrap .text,
.hobbies .li_wrap .text {
  margin-top: 5px;
}

.hobbies .li_wrap {
  border: 2px solid #fff;
}

.hobbies .li_wrap .icon,
.hobbies .li_wrap .text {
  color: #fff;
}

.hobbies .li_wrap:hover {
  background: #fff;
}

.hobbies .li_wrap:hover .icon,
.hobbies .li_wrap:hover .text {
  color: #129490;
}

.header {
  background: rgb(18, 18, 38);
  padding: 15px 5px;
  color: #fff;
  height: 240px;
}

.header .name {
  font-size: 52px;
  text-transform: uppercase;
  font-weight: 700;
  color: #64ffda;
}

.header .role {
  font-weight: 300;
  font-size: 20px;
}

.header .aboutme {
  margin-top: 20px;
  line-height: 26px;
  font-size: 14px;
}

.titleex {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 10px;
  color: darkgrey;
  position: relative;
  text-align: right;
  margin-bottom: 15px;
}

.right_inner {
  padding: 30px;
  color: rgb(18, 18, 38);
}

.right_inner .education {
  margin-top: 30px;
}

.right_inner .li_wrap {
  display: flex;
  margin-bottom: 15px;
}

.right_inner .li_wrap .date {
  width: 125px;
  color: #129490;
}

.right_inner .li_wrap .info {
  width: calc(100% - 125px);
  padding-left: 25px;
  position: relative;
}

.right_inner .li_wrap .info_title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #129490;
}

.right_inner .li_wrap .info_com {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 3px;
}

.right_inner .li_wrap .info_cont {
  margin-top: 15px;
}

.right_inner .li_wrap .info:before {
  content: '';
  position: relative;
  top: 3px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #129490;
  border-radius: 50%;
}

.right_inner .li_wrap .info:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 4px;
  width: 2px;
  height: 90%;
  background: #129490;
  /* border-radius: 50%; */
}

/* Contact */
.conta {
  padding: 250px;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: 5;
  right: 0;
  font-family: 'Poppins', sans-serif;
}

.conta h2 {
  font-weight: 600;
  font-size: 2rem;
  font-weight: 400;
  color: white;
  letter-spacing: 1.5px;
}

.conta p {
  margin: 10px 0 0 5px;
  padding-bottom: 15px;
  font-size: 1em;
  font-weight: 500;
  color: white;
  line-height: 2em;
}

.conta a {
  background-color: rgb(98, 192, 161);
  color: rgb(199, 247, 231);
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 500ms;
  border-radius: 10px;
}

.conta a:hover {
  color: rgb(18, 18, 38);
  transform: scale(0.9);
}

.top h2 {
  color: rgb(199, 247, 231);
  padding-left: 87%;
  font-size: 16px;
  padding-bottom: 10px;
}

.top a {
  color: rgb(199, 247, 231);
  text-decoration: none;
  letter-spacing: 2px;
}

.top a:hover {
  transition: ease-in;
  color: rgb(175, 204, 198);
}
